### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
csvpath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csvpath)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Total_Player = purchase_data_df["SN"].nunique()
frame_df = pd.DataFrame({"Total Players": [Total_Player]})
frame_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Number_of_Unique_Items = purchase_data_df["Item Name"].nunique()

Average_Price = purchase_data_df["Price"].mean()

Number_of_Purchase = purchase_data_df["Purchase ID"].count()

Total_Revenue = purchase_data_df["Price"].sum()

frame1_df = pd.DataFrame({"Number of Unique Items":[Number_of_Unique_Items],
                         "Average Price":[Average_Price],
                         "Number of Purchases":[Number_of_Purchase],
                        "Total Revenue":[Total_Revenue]})
frame1_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Gender Dataset
genderGroup = purchase_data_df.groupby("Gender")

#Percentage and Count of players of each gender
genderCount = genderGroup.nunique()["SN"]
genderPercentage = genderCount / Total_Player * 100

#Format and print output
genderDemographicsDF = pd.DataFrame({"Count":genderCount,"Percentage":genderPercentage
                       })
genderDemographicsDF.sort_values(by=["Count"],ascending=False).style.format({"Percentage":"{:,.2f}%",
                                                                   "Count":"{:,d}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Purchases by Gender
genderNumPurchases = genderGroup["Purchase ID"].count()

# Average Price by Gender
genderAvPrice = genderGroup["Price"].mean()

# Total Purchase Value by Gender
genderTotalPrice = genderGroup["Price"].sum()

# Average the Totals
genderAvTotal = genderTotalPrice / genderCount

# Format and Print Output
genderAnalysisDF = pd.DataFrame({"Purchase Count": genderNumPurchases,
                                 "Average Purchase Price": genderAvPrice,
                                 "Total Purchase Value": genderTotalPrice,
                                 "Average Total (per Person)":genderAvTotal})

genderAnalysisDF.sort_values(by=["Gender"],ascending=True).style.format({"Purchase Count":"{:,d}",
                                                                                               "Average Purchase Price":"${:,.2f}",
                                                                                               "Total Purchase Value":"${:,.2f}",
                                                                                               "Average Total (per Person)":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Add the Age Group column to the data
binValues = [0,9,14,19,24,29,34,39,200]
binNames = ["< 10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],binValues,labels=binNames)

# Get unique buyers grouped by Age Group
ageDemographicsGroup = purchase_data_df.drop_duplicates("SN").groupby(["Age Group"])

# Count of people in each Age Group
ageGroupCount = ageDemographicsGroup["SN"].count()

# Calculate Percentage
agePercentage = ageGroupCount / Total_Player * 100

# Format and Print Output
ageDemographicsDF = pd.DataFrame({"Total Count": ageGroupCount,"Percentage of Players":agePercentage
                                  })
ageDemographicsDF.style.format({"Percentage of Players":"{:,.2f}%",
                                "Total Count":"{:,d}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
ageGroup = purchase_data_df.groupby("Age Group")

# Purchases by Age Group
ageNumPurchases = ageGroup["Purchase ID"].count()

# Average Price by Age Group
ageAvPrice = ageGroup["Price"].mean()

# Total Purchase Value by Age Group
ageTotalPrice = ageGroup["Price"].sum()

# Average the Totals
ageAvTotal = ageTotalPrice / ageGroupCount

# Format and Print Output
ageAnalysisDF = pd.DataFrame({"Purchase Count": ageNumPurchases,
                                 "Average Purchase Price": ageAvPrice,
                                 "Total Purchase Value": ageTotalPrice,
                                 "Average Total (per Person)":ageAvTotal})

ageAnalysisDF.sort_values(by=["Age Group"],ascending=True).replace(np.nan,0).style.format({"Purchase Count":"{:,d}",
                                                                                               "Average Purchase Price":"${:,.2f}",
                                                                                               "Total Purchase Value":"${:,.2f}",
                                                                                               "Average Total (per Person)":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spenderGroup = purchase_data_df.groupby("SN")

# Total spent by Spender
spenderTotalDF = spenderGroup["Price"].sum()

# Number of Purchases by Spender
spenderPurchasesDF = spenderGroup["Purchase ID"].count()

# Average Purchase Price by Spender
spenderAverageDF =spenderGroup["Price"].mean()

# Format and Print Output
topSpendersDF = pd.DataFrame({"Purchase Count": spenderPurchasesDF,
                              "Average Purchase Price": spenderAverageDF,
                              "Total Purchase Value": spenderTotalDF})
topSpendersDF.sort_values(["Total Purchase Value"], ascending=False).head(5).style.format({"Average Purchase Total":"${:,.2f}",
                                                                                           "Average Purchase Price":"${:,.2f}", 
                                                                                           "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
itemGroup = purchase_data_df.groupby("Item ID")

# Purchase Count
itemPurchaseCount = itemGroup["Purchase ID"].count()

# Total Purchase Value
itemTotalValue = itemGroup["Price"].sum()

# Item Price - note that some items have variable pricing (e.g. Item ID=1) so we will use median to represent a single price
itemPrice = itemGroup["Price"].median()

# Item Name
itemName = itemGroup["Item Name"].unique().str[0]

# Item ID
itemID = itemGroup["Item ID"].unique().str[0]

# Format and Print Output

popularItemsDF = pd.DataFrame({"Item Name":itemName,
                               "Purchase Count": itemPurchaseCount,
                               "Item Price": itemPrice,
                               "Total Purchase Value": itemTotalValue})

popularItemsDF.sort_values("Purchase Count", ascending=False).head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.19,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
popularItemsDF.sort_values("Total Purchase Value", ascending=False).head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80

In [11]:
# (1) Profitability of items is largely influenced by number sold - moreso than the price of the item.
#value = popularItemsDF["Total Purchase Value"]
#price = popularItemsDF["Item Price"]
#count = popularItemsDF["Purchase Count"]

#value.corr(count)

#value.corr(price)

In [12]:
#(2) Males are much more likely to buy items than females (by ratio of 6:!), however spend less per person. 
#The ratio of Males to Females trends higher as age increases. This information suggests that there is a large 
#potential market for selling items to female players, particularly older players

In [13]:
#(3) Price has very little impact on the number of items sold [0.29 correllation coefficient]. 
#People are willing to pay more money for higher quality items.
#

#count.corr(price)

In [14]:
#(4) Bonus! There is little correlation between age and total money spent, nor age and average item price. 
#Developers should look to increase underrepresented demographics playing the game/purchasing items.